<!--投稿一覧機能-->
<h1 class="index-header">Books</h1>

<table>
  <thead>
  <tr>
    <th>Title</th><th>Body</th><th colspan="3"></th>
  </tr>
  </thead>

  <tr>
    <td>リーダブルコード</td>
    <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
    <td><a href= "/">Show</a></td>
    <td><a href= "/">Edit</a></td>
    <td><a href= "/">Destroy</a></td>
  </tr>
  <tr>
    <td>アルゴリズム図鑑</td>
    <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
    <td><a href= "/">Show</a></td>
    <td><a href= "/">Edit</a></td>
    <td><a href= "/">Destroy</a></td>
  </tr>
  <tr>
    <td>トラブル知らずのシステム設計</td>
    <td>入門専用の学習用の本です</td>
    <td><a href= "/">Show</a></td>
    <td><a href= "/">Edit</a></td>
    <td><a href= "/">Destroy</a></td>
  </tr>

</table>

<!--新規投稿機能-->
<h2 class="create-header">New books</h2>

<%= form_with model:Book.new do |f| %>

<div class="field">
 <div class="field-item">
  <label>Title</label>
 </div>
   <%= f.text_field:title %>
</div>

 <div class="field">
 <div class="field-item">
  <label>Body</label>
 </div>
   <%= f.text_area:body %>
</div>

 <div class="submit">
  <%= f.submit 'Create book' %>
 </div>
<% end %>

