/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
 margin:33px;
 font-size:13px;
 font-family: verdana, arial, helvetica, sans-serif;
 color:#333;
 line-height: 18px;
}

p{
 margin:33px;
}

a:hover{
 background-color:black;
 color:#FFF;
}

.index-header,.edit-header{
 padding-bottom:18px;
}

.create-header{
 margin:16px 0;
}

th{
 padding-bottom:5px;
}

td{
 padding-bottom:7px;
 padding-left:5px;
 padding-right:5px;
}

.field{
 margin-bottom:10px;
}

input[type="submit"]{
 padding:1px 6px;
}

.edit-submit{
 margin-bottom:10px;
}

.flash-text{
 color:green;
 margin:33px;
}

.errors-section{
 background-color:#f0f0f0;
 width:450px;
 border:2px solid red;
 margin-bottom:20px;
}

.errors-section h2 {
 color:white;
 background-color: #c00;
 padding:5px 5px 5px 15px;
 font-size:12px;
}

.errors-section ul {
 margin:33px;
 padding-left:40px;
 font-size:12px;
}

.field-error-header{
 background-color: red;
 display: table;
}

.field-error-text{
 display: table;
 padding:2px;
 background-color: red;
}


